<!--DEBUT PAGE LOGIN-->
<main class="page-main">
    <section class="clean-block clean-form dark">
        <div class="container">
            <section class="titrePage">Page de login</section>
            {% if error %}
                <div class="app-form-errors alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="app-form">
                <div class="app-form-titre">formulaire de connexion</div>
                <form method="post">
                    <div class="form-group">
                        <input class="form-control item" type="email" autofocus
                               placeholder="Entrez votre identifiant au format @mail"
                               name="email" value="{{ last_username }}" autocomplete="off"
                               required/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password"
                               placeholder="Entrez votre mot de passe de connexion"
                               name="password"/>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <button class="btn btn-login btn-block" type="submit">se connecter</button>
                </form>
            </div>
        </div>
    </section>
</main>
<!--FIN PAGE LOGIN-->





